h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

body{
  font-family: 'Roboto', sans-serif;
}

.container{
  margin: 20px;
}

.location_container{
  display: inline-flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  margin: 20px 0;
  border: 1px solid black;
}

.map_container{
  display: flex;
  gap: 50px;
}

.crew_container{
  padding: 10px;
  height: fit-content;
  border: 1px solid black;

}

.text{
display: block;
}

.crew_list{
  display: inline-block;
  margin: 10px 0;
  list-style:inside;
}

.crew_item:not(:last-child){
  padding-bottom: 10px;
}

.text-accent{
  margin-top: 10px;
  text-decoration: underline;

}

.map{
  width: 800px;
  height: 400px;
}